<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Jaldi:700,400' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../static/css/reset.css">
	<link rel="stylesheet" href="../static/css/query.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/css/style.css">
	<script src="../static/js/modernizr.js"></script>
	
	<title>Advanced Database Mongodb</title>
</head>
<body>
	<section class="cd-slider-wrapper">
		<ul class="cd-slider">
			<li class="visible">
				<div>
					<h2>Mongodb</h2>
					<p>Database group work presentation</p>
				</div>
			</li>
			
			<li>
				<div>
				  <h2>Query user viewing information</h2>
				  <div class="UserQuery">
					<form id="form_q1" onsubmit="return false;">
					  <div class="form-group">
						<input name="UserID" class="form-control" id="UserID" placeholder="Enter User ID">
						<button id="btn_q1" type="button" class="btn btn-primary">Submit</button>
						<small class="form-text text-muted" style="color: #FFFFFF!important;">
						  View analytics for a user ID including scores, genres, and recommendations.
						</small>
					  </div>
					</form>
				  </div>
			  
				  <div id="result_q1" class="Result pre-scrollable table-responsive" style="margin-top: 1rem;"></div>
				</div>
			  </li>
			  
			  

			  <li>
				<div style="max-width: 700px; margin: 0 auto; padding: 1rem;">
				  <h2 style="text-align: center;">Query 2: Search Movies by Keyword</h2>
			  
				  <form method="POST" class="form-group" onsubmit="return false;">
					<label for="KeyWord">Movie Title</label>
					<input type="text" name="KeyWord" id="KeyWord" placeholder="e.g. Matrix" class="form-control" style="width: 100%; margin-bottom: 0.5rem;">
			  
					<div style="display: flex; gap: 1rem; justify-content: center; flex-wrap: wrap;">
					  <button type="button" id="btn_q2_basic" class="btn btn-primary" style="min-width: 150px;">Search (Basic)</button>
					  <button type="button" id="btn_q2_fts" class="btn btn-primary" style="min-width: 150px;">Search (Full Text)</button>
					</div>
				  </form>
			  
				  <div id="result_q2" class="Result table-responsive pre-scrollable" style="margin-top: 1rem;"></div>
				</div>
			  </li>

			<li>
				<div>
					<h2>Query Most Popular Movies</h2>
					<div class="UserQuery">
						<form>
							<div class="form-group">
							  <input type="email" class="form-control" id="Style">
							  <small id="q3Help" class="form-text text-muted" style="color: #FFFFFF!important;">Query top 20 highest-rated movies in a specific genre</small>
							</div>
							<button id="btn_q3" type="button"  class="btn btn-primary">Submit</button>
						  </form>
						</div>
						<div id="result_q3" class="Result" class="pre-scrollable table-responsive"></div>
				</div>
			</li>
		</ul> 
		
		<ol class="cd-slider-navigation">
			<li class="selected"><a href="#0"><em>Home</em></a></li>
			<li><a href="#0"><em>Item 1</em></a></li>
			<li><a href="#0"><em>Item 2</em></a></li>
			<li><a href="#0"><em>Item 3</em></a></li>
		</ol>

		<div class="cd-svg-cover" data-step1="M1402,800h-2V0.6c0-0.3,0-0.3,0-0.6h2v294V800z" data-step2="M1400,800H383L770.7,0.6c0.2-0.3,0.5-0.6,0.9-0.6H1400v294V800z" data-step3="M1400,800H0V0.6C0,0.4,0,0.3,0,0h1400v294V800z" data-step4="M615,800H0V0.6C0,0.4,0,0.3,0,0h615L393,312L615,800z" data-step5="M0,800h-2V0.6C-2,0.4-2,0.3-2,0h2v312V800z" data-step6="M-2,800h2L0,0.6C0,0.3,0,0.3,0,0l-2,0v294V800z" data-step7="M0,800h1017L629.3,0.6c-0.2-0.3-0.5-0.6-0.9-0.6L0,0l0,294L0,800z" data-step8="M0,800h1400V0.6c0-0.2,0-0.3,0-0.6L0,0l0,294L0,800z" data-step9="M785,800h615V0.6c0-0.2,0-0.3,0-0.6L785,0l222,312L785,800z" data-step10="M1400,800h2V0.6c0-0.2,0-0.3,0-0.6l-2,0v312V800z">
			<svg height='100%' width="100%" preserveAspectRatio="none" viewBox="0 0 1400 800">
				<title>SVG cover layer</title>
				<desc>an animated layer to switch from one slide to the next one</desc>
				<path id="cd-changing-path" d="M1402,800h-2V0.6c0-0.3,0-0.3,0-0.6h2v294V800z"/>
			</svg>
		</div>
	</section>

<script src="../static/js/jquery-2.1.4.js"></script>
<script src="../static/js/snap.svg-min.js"></script>
<script src="../static/js/main.js"></script>
<script src="../static/js/query.js"></script> 

</body>
</html>
